/* CSS for the flight schedule table */

/*.flight-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.flight-table th, .flight-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.flight-table thead {
    background-color: #007bff;
    color: #fff;
}

.flight-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.flight-table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}
*/

.doctor-card {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .doctor-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .doctor-info {
    flex: 1;
    text-align: center;
  }
  
  .doctor-name {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .doctor-degree, .doctor-specialization {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .search-bar {
    margin: 20px;
    text-align: center;
  }
  
  #search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #search-button {
    padding: 10px 20px;
    background-color: #004080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #search-button:hover {
    background-color: #002366;
  }


.book-btn {
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .book-btn:hover {
    background-color: #002366;
  }
